*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

td{
	height: 150px;
	width: 150px;
	text-align:  center;
	border: 5px solid black;
	font-size: 100px;
}

/************************************/
/********GLOBAL STYLING ************/


.dark-mode{
	background-color: black;
	color: white;
}
.container-fluid{
	height: 100vh;
}

.top h3{
	padding: 10px;
	color: white;
	
}

.profile-container{
	width: 15%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.profile{
	background-color: #7b74ed;
	padding: 10px;
	position: relative;
	height: 30%;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	padding: 20px;
}
.profile .avatar{
	width: 50px;
	position: absolute;
	top: -20px;
	left: 30%;
	margin: 0 auto;
	padding: 10px;
	height: 50px;
	border: 5px solid white;
	background-color: rgb(216, 211, 211);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	border-radius: 50%	;
	-webkit-border-radius: 50%	;
	-moz-border-radius: 50%	;
	-ms-border-radius: 50%	;
	-o-border-radius: 50%	;
}
.profile .placeholder{
	margin-top: 20px;
	border-bottom: 3px dashed rgb(136, 127, 127);
}
.profile h3{
	text-align: center;
}
.icon-big{
	font-size: 20px;
	color: #7b74ed;
}


