* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
}

/************************************/
/********GLOBAL STYLING ************/
.cont {
  margin: 0 auto;
}

.dark-switch {
  height: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.top h3 {
  padding: 10px;
  color: white;
}

.profile-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  background-color: #7b74ed;
  padding: 10px;
  position: relative;
  height: 30%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 20px;
}
.profile .avatar {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 30%;
  margin: 0 auto;
  padding: 10px;
  height: 50px;
  border: 5px solid white;
  background-color: rgb(216, 211, 211);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile .placeholder {
  margin-top: 20px;
  border-bottom: 3px dashed rgb(136, 127, 127);
}
.profile h3 {
  text-align: center;
}
.icon-big {
  font-size: 20px;
  color: #7b74ed;
}

/************************************/
/********PLAAYGROUND STYLING ************/
.playground {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: separate;
}
td {
  margin: 10px;
  height: 150px;
  width: 150px;
  text-align: center;
  border: 3px solid white;
  font-size: 80px;
  color: white;
}
tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/************************************/
/********DESKTOP STYLING ************/
@media (min-width: 975px) {
  .game-container {
    display: flex;
    flex-direction: row;
  }
  .profile-container {
    flex-grow: 1;
  }
  .playground {
    flex-grow: 2;
  }
}
